@import "tailwindcss";
body {
  font-family: "Poppins", sans-serif;
}

@keyframes smallbounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.bounce-up {
  animation: smallbounce 1.5s ease-in-out infinite;
}

button {
  cursor: pointer;
}
